/*   
 ==========================================================================
 
                Modified Date:   2018-04-28
                category      -webkit-/-moz-/-ms-/-o-

                display: -moz-box;        Firefox 
                display: -ms-flexbox;     IE10  
                display: -webkit-box;     Safari   
                display: -webkit-flex;    Chrome, WebKit 
                display: flex;            opera,chrome 

 ==========================================================================   
*/



.displayFlex {
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}


.webkitFlex(@num) {
    -webkit-flex: @num;
    -webkit-box-flex: @num;
				flex: @num;
}


.justifyContentFlexEnd {
	-webkit-box-pack: end;
    -webkit-justify-content: flex-end;
       -ms-flex-pack: end;
            justify-content: flex-end;
}


.justifyContentFlexstart {
    -webkit-justify-content: flex-start;
    -webkit-box-pack:start;
       -ms-flex-pack:start;
            justify-content: flex-start;
}


.justifyContentSpaceBet {
    -webkit-justify-content: space-between;
    -webkit-box-pack: justify;
       -ms-flex-pack: justify;
            justify-content: space-between;
}


.justifyContentCenter {
    -webkit-box-pack:center;
    -webkit-justify-content:center;
       -ms-flex-pack:center;
            justify-content: center;
}


.alignItems(@fx) {
    -webkit-align-items: @fx;
      -webkit-box-align: @fx;
         -ms-flex-align: @fx;
            align-items: @fx;
}


.flexDirectionColumn {
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
}


.flexDirectionRow {
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
}


.flexWrap(@wrap) {
    -webkit-flex-wrap: @wrap;
            flex-wrap: @wrap;
}


.backgroundSize(@f, @x) {
	-moz-background-size: @arguments;
	     background-size: @arguments;
}


.linearGradient(@direction,@startColoe,@endColor) {
	-webkit-linear-gradient( @arguments);
        -moz-liner-gradient( @arguments);
        -ms-linear-gradient( @arguments);
         -o-linear-gradient( @arguments);
            linear-gradient( @arguments);
}


.boxShadow(@x,@y,@size,@color) {
    -webkit-box-shadow: @arguments;
       -moz-box-shadow: @arguments;
        -ms-box-shadow: @arguments;
         -o-box-shadow: @arguments;
            box-shadow: @arguments;
}


.transform(@args) {
    -webkit-transform: @args;
       -moz-transform: @args;
        -ms-transform: @args;
         -o-transform: @args;
            transform: @args;
}


.transformOrigin(@start,@end) {
    -webkit-transform-origin: @arguments;
       -moz-transform-origin: @arguments;
        -ms-transform-origin: @arguments;
         -o-transform-origin: @arguments;
            transform-origin: @arguments;
}

.perspectiveOrigin(@x,@y) {
    -webkit-perspective-origin: @arguments;
       -moz-perspective-origin: @arguments;
        -ms-perspective-origin: @arguments;
         -o-perspective-origin: @arguments;
			perspective-origin: @arguments;
}


.transition(@fx,@time) {
    -webkit-transition: @arguments;
       -moz-transition: @arguments; 
         -o-transition: @arguments;
            transition: @arguments; 
}


.animation(@name,@time,@fx) {
    -webkit-animation: @arguments; 
            animation: @arguments;
}

.keyFrams(@name,@fx,@fro@To) {
    @-webkit-keyframes @name {
        from {@fx:@fromTo;}
        to {@fx:@To;}
    }

    @-moz-keyframes @name {
        from {@fx:@fromTo;}
        to {@fx:@To;}
    }

    @-o-keyframes @name {
        from {@fx:@fromTo;}
        to {@fx:@To;}
    }

    @keyframes @name {
        from {@fx:@fromTo;}
        to {@fx:@To;}
    }
}

.boxSizing(@cont) {
	-webkit-box-sizing: @cont;
	   -moz-box-sizing: @cont;
	    -ms-box-sizing: @cont;
	     -o-box-sizing: @cont;
	        box-sizing: @cont;
}


.borderRadius(@px) {
	-webkit-border-radius: @px;
	   -moz-border-radius: @px;
	        border-radius: @px;
}


.backgroundClip(@args) {
    -webkit-background-clip: @args;
       -moz-background-clip: @args;
	        background-clip: @args;
}


.userSelect(@args){
	-webkit-user-select: @args;
	   -moz-user-select: @args;
	        user-select: @args;
}


.pointerEvents(@args) {
	-webkit-pointer-events: @args;
	        pointer-events: @args;
}

.textOverflow(@cont) {
	-moz-text-overflow: @cont;
	  -o-text-overflow: @cont;
	     text-overflow: @cont;
}

.textAlignLast(@args) {
	-webkit-text-align-last: @args;
	   -moz-text-align-last: @args;
	        text-align-last: @args;
}

//
// min-device-pixel-ratio(像素比)
// --------------------------------------------------
.minDevicePixelRatio(@num) {
	-webkit-min-device-pixel-ratio: @num;
	   min--moz-device-pixel-ratio: @num;
	     -o-min-device-pixel-ratio: @num;
	        min-device-pixel-ratio: @num;

}

.borderImage(@url,@slice,@width,@outset){
    -webkit-border-image: url(@url) @slice @width @outset; /* Safari 5 */
         -o-border-image: url(@url) @slice @width @outset; /* Opera */
            border-image: url(@url) @slice @width @outset;
}

.boxDirection(@fx){
    -webkit-box-direction: @fx;
       -moz-box-direction: @fx;
            box-direction: @fx;
}

/*-------------------------------------
├   ellipsis                          ┆
└------------------------------------*/
.ellipsis() {
    white-space: nowrap; 
    overflow:hidden;
    -ms-text-overflow: ellipsis; 
     -o-text-overflow: ellipsis;   
        text-overflow: ellipsis; 
}
